.node_modules# Node modules
node_modules/

# TypeScript build output
dist/
build/

# Environment files
.env

# IDE files
.vscode/
.idea/

# Log files
*.log

# npm package lock file
package-lock.json

# OS-specific files
.DS_Store  # For macOS
Thumbs.db  # For Windows

# Optional: If you have test coverage report
coverage/

# Optional: If you use the npm-debug log for debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
